<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/backend/assets/ums_logo.svg" />
    <% const validTypes = ['success', 'error', 'inform'];
    if(!validTypes.includes(type)) { throw new Error('Invalid message type'); }
    %>
    <title><%= title %> | UMS</title>
    <style>
      body {
        margin: 0;
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
      }
      header {
        width: 100%;
        color: #666;
        padding: 10px 0;
        margin-bottom: 10px;
        text-align: center;
      }
      header h1 {
        font-size: 20px;
        margin: 0;
        padding: 0;
      }
      footer {
        color: #999;
        margin-top: 30px;
        border-top: 1px solid #ddd;
        text-align: center;
      }
      footer a {
        color: #a66;
        text-decoration: none;
      }
      footer a:hover {
        color: #f33;
      }
      h2 {
        font-size: 24px;
        margin-top: 40px;
      }
      button {
        margin-top: 30px;
        padding: 10px 20px;
        font-size: 18px;
        background-color: #1976d2;
        color: #fff;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      button:hover {
        background-color: #1565c0;
      }
      button:active {
        filter: brightness(0.8);
      }
      .success {
        color: #0a0;
      }
      .error {
        color: #c00;
      }
      .inform {
        color: #0069d9;
      }
      div.content {
        max-width: 600px;
        margin: 30px auto 20px auto;
        padding: 40px 20px;
        text-align: center;
        border: 2px solid #ddd;
        border-radius: 20px;
      }
      .details {
        font-size: 24px;
        text-align: left;
        margin-top: 30px;
        margin-bottom: 20px;
      }
      .summary {
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        color: #666666;
      }
    </style>
  </head>
  <body>
    <header>
      <img src="/backend/assets/ums_logo.svg" width="90px" height="90px" />
      <h1>User Management System</h1>
    </header>
    <div class="content">
      <h1 class="<%= type %>"><%= title %></h1>
      <div class="details">
        <% if(details){ %>
        <details>
          <summary class="summary"><%= summary %></summary>
          <p>
            Technical details:<br />
            <%= details %>
          </p>
        </details>
        <% }else{ %>
        <div class="summary"><%= summary %></div>
        <% } %>
      </div>
      <a href="<%= buttonUrl %>">
        <button>
          <%= buttonText %>
        </button>
      </a>
    </div>
    <footer>
      <p>
        <a href="/docs/swagger" target="_blank">API Documentation</a>
        <span> </span>(<a href="/docs/swagger-json" target="_blank"> JSON </a>)
        ｜<a href="/docs/typeDoc" target="_blank">TypeDoc</a> ｜<a
          href="https://github.com/cocoychris/user-management-system-demo"
          target="_blank"
          >GitHub Repository</a
        >
      </p>
      <p>
        Developed by
        <a href="https://andrash.dev/page/about_andrash" target="_blank"
          >Andrash Yang</a
        >
      </p>
    </footer>
  </body>
</html>
